# ignore everthing
*
# but allow directories (which will be empty as everthing is ignored)
!*/
# include these files and everthing in src
!.gitignore
!configure.ac
!LICENSE
!Makefile.am
!README.md
!src/**
# except this anywhere
Makefile.in
build*/
